<h1>Books</h1>

<% @books.each do |book| %>

<p>title</p>
  <span><%= book.title %></span>
  
  <p>body</p>
  <span><%= book.body %></span>
<% end %>


<%= form_with model: @book, local: true do |f| %>
<h4>new book</h4>
<p>title</p>
  <%= f.text_field :title %>
	
  <p>body</p>
  <%= f.text_area :body %>
	
  <%= f.submit 'createbook' %>
<% end %>